modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm run dev"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3001
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 3001

[userenv]

[userenv.shared]
VAPID_PRIVATE_KEY = "Yp0_NZ2_deAXEClhho_pzeLZ7FYrnM8ry1vQwuNE79U"
VAPID_PUBLIC_KEY = "BOy2dgbob-DUUHi3uaSSFzmYLuGqwk4MGvkC6TYAEpvcrNxybEChnwl0mefJTZFPrSLpjmSB-e29b6Z9X90H7aI"
VAPID_SUBJECT = "mailto:admin@mmt-community.site"
JWT_SECRET_GENERATED = "true"
CPANEL_SMTP_HOST = "server222.web-hosting.com"
CPANEL_SMTP_PORT = "465"
CPANEL_SMTP_USER = "info@qirox.online"
CPANEL_USERNAME = "rfpeddku"
